services:
  - type: web
    name: stock-watchlist-backend
    env: docker
    dockerfilePath: ./Backend/Stock Watchlist Application/Dockerfile
    dockerContext: ./Backend/Stock Watchlist Application
    envVars:
      - key: DB_URL
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: FRONTEND_URL
        value: https://stock-watchlist-application.vercel.app
